<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Suite">
    <test name="Login Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
    <test verbose="2" preserve-order="true" name="SearchTest">
        <classes>
            <class name="tests.SearchTest">
            </class>
        </classes>
    </test>
</suite>